# Python
__pycache__/
*.py[oc]
*.pyd
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv/

# Env
.env

# Output artifacts
output/

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/
.coverage
htmlcov/

# Ruff
.ruff_cache/
